services:
  auth-service:
    build:
      context: ./services/auth-service
    container_name: auth-service
    environment:
      JWT_SECRET: dev-secret
      RUST_LOG: debug
      RUST_BACKTRACE: 1
      DATABASE_URL: postgres://user:password@postgres:5432/app_db
      REDIS_URL: redis://redis:6379
    expose:
      - "8080"
    networks:
      - internal


  api-service:
    build:
      context: ./services/api-service
    container_name: api-service
    environment:
      AUTH_SERVICE_URL: http://auth-service:8080
      RUST_LOG: debug
      DATA_SERVICE_URL: http://data-service:8081
      TEST_SERVICE_URL: http://test-service:8082
    ports:
      - "9000:9000"
    depends_on:
      - auth-service
      - data-service
      - test-service
    networks:
      - internal

  data-service:
    build:
      context: ./services/data-service
    container_name: data-service
    environment:
      RUST_LOG: debug
      DATABASE_URL: postgres://user:password@postgres:5432/app_db
      JWT_SECRET: dev-secret
      REDIS_URL: redis://redis:6379
    expose:
      - "8081"
    networks:
      - internal

  test-service:
    build:
      context: ./services/test-service
    container_name: test-service
    environment:
      RUST_LOG: debug
      JWT_SECRET: dev-secret
    expose:
      - "8082"
    networks:
      - internal

  redis:
    image: redis:7-alpine
    container_name: redis
    expose:
      - "6379"
    networks:
      - internal

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal

networks:
  internal:
    driver: bridge

volumes:
  postgres_data: